:root {
    --primary-color: #2b323d;
    --secondary-color: #a8a8a8;
  }

.correct:active {
    background-color: lightgreen;
}

.incorrect:active {
    background-color: lightcoral;
}

body {
    background-color: var(--primary-color);
}

button {
    background-color: var(--secondary-color);
    color: black;
    font-size: medium;
    border: 0;
    border-radius: 4px;
    margin: 1px 2px 1px 2px;
}

button:hover {
    border: 1px solid var(--secondary-color);
    margin: 0px 1px 0px 1px;
}

.module {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    margin: 5px 20px 5px 20px;
}

.textmodule {
    padding: 10px 15px 10px 15px;
    color: var(--secondary-color);
}

.container {
    margin: auto;
    padding: 15px 15px 15px 15px;
    width: fit-content;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
}